<%- include('templates/cabecera', {tituloPag: 'crearUsuario', css: 'form'}) %>

<body>
  <div class="header">
    <%- include('templates/navbar')%>
  </div>
  
  <div class="container">

    <div class="centro">
        <h1>Crear Usuario</h1>

        <form action="/usuarios" method="POST">
            <input type="text" name="nombre">
            <input type="text" name="apellido">
            <input type="int" name="edad">
            <button type="submit">Enviar</button>
    
        </form>
        <a href="/usuarios">Usuarios</a>
      
    </div>

  <div class="footer">
    <%- include('templates/footer')%>
  </div>
</body>
</html>
