<%- include('templates/cabecera',{tituloPag:'inicio', css:'estilosDonaciones'})%>
<body>
<%- include('templates/navbar')%>
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            
         <h2>Es muy importante conocer los cuidados que necesita un perro y
            que es <i>obligación del propietario cumplir</i> tales  como: </h2>
        <ul>
            <li>Alimento para perros (no sobras de comida) </li>
            <li>Seguimiento veterinario por lo menos una vez al año</li>
            <li>Vacunas y desparasitante una vez al año</li>
            <li>Un lugar para estar y dormir, sea una casita en exteriores o una
                colchoneta en interiores. Tener al perro todo el dia en un balcón 
                o azotea <i>no es correcto</i> </li>
            <li>Proteger al perro del sol, la lluvia y el frio</li>
            <li>Cariño, así es, es un amigo de la familia y necesita convivir con las personas</li>
            <li>Diversión, así es, actividades físicas como caminar o jugar ayudan a su tranquilidad</li>
        </ul>

        </div>
      </nav>












</body>
</html>