<footer class="bg-dark text-white mt-5 w-100">
    <div class="container-fluid text-center py-4">
      <div class="mb-3">
      
      </div>
      <p class="mb-0">&copy; 2025 Creado por Digital Soul Services - Todos los derechos reservados</p>
    </div>
  </footer>
  